@import 'main.css';

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#buttonsGrid {
  width: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonsGrid > div {
  max-width: 50%;
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

#buttonsGrid button {
  width: fit-content;
  margin: 0 3px;
  font-family: 'Radio Canada', sans-serif;
  height: 55px; 
  flex-grow: 1; 
  min-width: 50px;
}

#playingGridContainer {
  width: 100%;
  padding: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#playingGrid {
  box-sizing: border-box;
  height: inherit;
  padding: 5px 0;
  margin: auto;
}

.play-grid-row {
  display: inline-flex;
  justify-content: center;
  float: left;
  clear: left;
}

.play-grid-cell {
  font-family: 'Radio Canada', sans-serif;
  flex-grow: 1;
  border: 2px solid gray;
  width: 60px;
  height: 60px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 5px;
  font-size: 150%;
}

nav {
  width: 100%;
  margin-top: 1%;
  text-align: center;
}
