/* thingy */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Insert Variables */
    --guess-right-place: #538d4e;
    --guess-wrong-place: #b59f3b;
    --guess-wasted: #ffffff;
}
