@import 'main.css';

body {
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

main {
  background-color: white;
  width: 500px;
  margin: 15% auto;
  padding: 2% 2% 3% 2%;
  border: 2px solid black;
  border-radius: 10px;

  /*display: flex*/
  /*flex-direction: vertical;*/
  /*justify-content: center;*/

  /*note to future me: buggy, need correction*/
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 50vw;
  min-width: 300px; 
  padding: 20px 50px;
  border-radius: 10px;
}

dialog > h1 {
  text-transform: uppercase;
  font-family: 'Radio Canada', sans-serif;
}

dialog > form {
  display: grid;
  /*grid-template-columns: 25% 75%;*/
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: 120px 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

dialog > form > label {
  text-align: right;
  font-size: medium;
}

dialog > form > input {
  font-family: inherit;
}

dialog > form > div#keybuttons {
  grid-column: 1 / 3;

  display: flex;
  justify-content: space-around;
}

dialog > form > div#keybuttons > input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid black;
    
  background: none;
  font-family: inherit;
}

dialog > form > textarea {
  resize: vertical;
}

dialog > div {
  text-align: left;
}

dialog > div > ul > li > .perfectGuess {
  font-weight: bold;
  color: var(--guess-right-place);
} 

dialog > div > ul > li > .imperfectGuess {
  font-weight: bold;
  color: var(--guess-wrong-place);
} 